#banner {
    display: flex;
    width: 100%;
}
#banner img {
    position: relative;
    width: 100%;
}
.bannerContainer {
    display: block;
    position: absolute;
    margin-top: 16.614%;
    margin-left: 13.26%;
    padding: 0;
    color: rgba(255, 255, 255, 1);
}
.bannerContainer h1 {
    font-size: 4rem;
    margin: 0;
    vertical-align: top;
    line-height: 1;
}
.bannerContainer p {
    font-size: 1.5rem;
    margin: 1.625rem 0 2.5rem 0;
    line-height: 2.25rem;
}
.fullsizeLink {
    background-color: rgba(124, 58, 237, 1);
    border-radius: 4px;
    border: none;
    width: 12.5rem;
    height: 3.75rem;
    display: flex; /* 使用 flexbox 布局 */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}
.fullsizeLink a {
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
    font-style: normal;
    text-decoration: none;
}
.fullsizeLink:hover {
    background-color: rgba(105, 49, 201, 1);
    color: rgba(255, 255, 255, 1);
}
