---
import background from "../assets/images/mask_group.png"; // 确保路径正确
import "../styles/banner.css";
---

<div id="banner">
    <img src={background.src} alt="" fetchpriority="high" />
    <div id="container-zh" class="bannerContainer">
        <h1 id="slogan-zh">天地万象，方块之间</h1>
        <p>
            mTranslator: AI驱动的智能翻译 <br />支持网页翻译、字幕翻译、输入翻译、文本翻译
        </p>
        <div class="fullsizeLink">
            <a href="">免费试用</a>
        </div>
    </div>
</div>
