---
import { callSafely } from "astro:actions";
import footerBg from "../assets/footer-bg.svg";
import ailipay from "../assets/payments/Alipay.png";
import applepay from "../assets/payments/ApplePay.png";
import btc from "../assets/payments/BTC.png";
import eth from "../assets/payments/ETH.png";
import googlepay from "../assets/payments/GooglePay.png";
import jcb from "../assets/payments/JCB.png";
import mastercard from "../assets/payments/Mastercard.png";
import paypal from "../assets/payments/PayPal.png";
import usdc from "../assets/payments/USDC.png";
import usdt from "../assets/payments/USDT.png";
import visa from "../assets/payments/Visa.png";
import wechat from "../assets/payments/WeChat.png";

import blur from "../assets/images/blurBg.png";

import LanguagesDropdown from "./LanguagesDropdown.astro";

const paymentIcons = [
    { src: mastercard.src, alt: "Mastercard" },
    { src: visa.src, alt: "Visa" },
    { src: paypal.src, alt: "PayPal" },
    { src: applepay.src, alt: "Apple Pay" },
    { src: ailipay.src, alt: "Alipay" },
    { src: wechat.src, alt: "WeChat Pay" },
    { src: googlepay.src, alt: "Google Pay" },
    { src: jcb.src, alt: "JCB" },
    { src: btc.src, alt: "Bitcoin" },
    { src: eth.src, alt: "Ethereum" },
    { src: usdc.src, alt: "USDC" },
    { src: usdt.src, alt: "USDT" },
];
---

<section class="footer-container">
    <img src={footerBg.src} alt="" />
    <div class="statementContent">
        <div style="padding: 60px 30px;">
            <h2>隐私声明</h2>
            <p>mTranslator团队高度重视用户隐私与数据安全。</p>
            <p>在提供翻译服务的过程中，我们可能会在确保匿名化的前提下使用翻译数据，以优化mSLLM翻译引擎的性能。</p>
            <p>但我们绝不会记录、储存或分析任何能够识别用户个人身份的隐私数据。</p>
            <p>用户的个人信息始终是安全且受保护的，我们承诺不会将其用于其他用途或与第三方共享。</p>
            <p>我们的隐私保护措施确保用户数据在任何情况下都得到严格的保护。</p>
        </div>
    </div>

    <div class="iconContent">
        {paymentIcons.map((icon, index) => <img src={icon.src} alt={icon.alt} />)}
    </div>
    <div class="footer">
        <div class="footer-left">
            <span>@2024 mCopilot.net All rights reserved</span><span class="divider">|</span>
            <a href="/">条款和条件</a><span class="divider">|</span>
            <a href="/">条款和条件</a>
        </div>
        <div class="footer-right">
            <LanguagesDropdown />
        </div>
    </div>

    <style is:global>
        .footer-container .language-dropdown .dropdown-toggle {
            background-color: transparent;
            color: #a0a1b1;
            border: 1px solid rgba(160, 161, 177, 0.5);
        }
        .footer-container .language-dropdown .dropdown-menu {
            bottom: 60px;
        }
    </style>

    <style>
        .footer-container {
            display: flex;
            width: 100%;
            justify-content: center;
            position: relative;
        }

        .footer-container img {
            width: 100%;
        }

        .statementContent {
            position: absolute;
            width: 74%;
            max-width: 1400px;
            top: 200px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%);
            border-radius: 10px 10px 10px 10px;
            backdrop-filter: blur(10px); /* 毛玻璃模糊效果 */
            -webkit-backdrop-filter: blur(10px);
        }

        .statementContent h2 {
            font-weight: bold;
            font-size: 2.25rem;
            color: rgba(255, 255, 255, 0.9);
            line-height: 50px;
            text-align: left;
            font-style: normal;
            text-transform: none;
        }
        .statementContent p {
            font-weight: 400;
            font-size: 1rem;
            color: rgba(255, 255, 255, 0.9);
            line-height: 12px;
            text-align: left;
            font-style: normal;
            text-transform: none;
        }
        .iconContent {
            display: flex;
            position: absolute;
            margin-top: 34.9%;
            width: 74%;
            max-width: 1400px;
            gap: 20px;
        }
        .iconContent img {
            width: auto;
            height: 3rem;
        }
        .footer {
            display: flex;
            position: absolute;
            bottom: 20px;
            width: 74%;
            max-width: 1400px;
            align-items: center;
            justify-content: space-between;
        }
        .footer-left {
            display: flex;
            gap: 20px;
        }
        .footer-left span {
            font-size: 1rem;
            color: rgba(160, 161, 177, 0.75);
            line-height: 22px;
            text-align: left;
            font-style: normal;
            text-transform: none;
        }
        .footer-left .divider {
            color: rgba(255, 255, 255, 0.2);
        }
        .footer-left a {
            font-size: 1rem;
            color: rgba(255, 255, 255, 1);
            line-height: 22px;
            text-align: left;
            font-style: normal;
            text-transform: none;
            font-style: normal;
        }
        .footer .language-dropdown .dropdown-toggle {
            background-color: transparent !important; /* 设置背景色透明 */
            color: #a0a1b1 !important; /* 设置字体颜色 */
        }
    </style>
</section>
